

@mixin wrapper-max-width {
  max-width: var(--wrapper-max-width);
}

@mixin content-max-width {
  max-width: var(--content-max-width);
}

@mixin grid-base-container {
}

@mixin grid-container {
}


@mixin horizontal-inset {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);

  @media (min-width: 30em) {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
  }
}

@mixin horizontal-inset--negative {
  margin-left: calc(-1 * var(--spacing-medium));
  margin-right: calc(-1 * var(--spacing-medium));

  @media (min-width: 30em) {
    margin-left: calc(-1 * var(--spacing-large));
    margin-right: calc(-1 * var(--spacing-large));
  }
}
