@import url('/assets/fonts/soehne/index.css');
@import url('/assets/fonts/soehne-breit/index.css');
@import url('/assets/fonts/ivar-text/index.css');
@import url('/assets/fonts/freight-display/index.css');

$sans-default-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin font-sans {
  font-family: 'soehne-web', $sans-default-fonts; 
}

@mixin font-sans-wide {
  font-family: 'soehne-breit-web', 'soehne-web', $sans-default-fonts; 
}

@mixin font-serif {
  font-family: 'ivar-text', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@mixin bg-background {
  background-color: var(--color-background, #FFB0BD);
}

@mixin bg-surface {
  background-color: var(--color-surface, white);
}

@mixin text-ink {
  color: var(--color-ink, black);
}

:root {
  font-size: 18px;

  // @media (min-width: 360px) {
  //   font-size: 18px;
  // }

  // @media (min-width: 720px) {
  //   font-size: 22px;
  // }

  // @media (min-width: 960px) {
  //   font-size: 24px;
  // }

  // @media (prefers-color-scheme: dark) {
  //   --color-background: #111;
  //   --color-surface: #222;
  //   --color-ink: white;
  // }
}

* {
  box-sizing: border-box;
}

body {
  @include font-serif();
  @include bg-background();
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

.dd-container {
  @include bg-surface();
  @include text-ink();
  margin: 0 auto;
  padding: 1.5rem;
  // border-radius: 1.5rem;
}

.dd-content {
  // line-height: 1.5;
  margin: 0 auto;
  max-width: 60ch;
  padding-top: 1rem;
}

// p, blockquote {
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// h1, h2, h3, h4, h5, h6 {
//   @include font-sans-wide();
//   font-weight: 600;
//   margin-top: 2rem;
//   margin-bottom: 0.5rem;

//   & + * {
//     margin-top: 0;
//   }
// }

// h1 {
//   font-size: 2.25rem;
// }

// h2 {
//   font-size: 1.75rem;
// }

// h3 {
//   font-size: 1.125rem;
// }

// h4 {
//   font-size: 1rem;
// }

// h1, h2 {
//   margin-top: 3rem;
//   &:first-child {
//     margin-top: 0;
//   }
// }

// figure,
// .eleventy-plugin-embed-instagram,
// .eleventy-plugin-embed-twitter,
// .twitter-tweet {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   padding: 0;
// }

// figcaption {
//   @include font-sans();
//   font-size: 0.88rem;
//   color: #666;
//   margin-top: 0.25rem;
//   text-align: center;
// }

// .twitter-tweet {
//   margin-top: 2rem !important;
//   margin-bottom: 2rem !important;
// }

// .twitter-tweet iframe {
//   margin: 0 auto;
// }

// .eleventy-plugin-embed-instagram {
//   width: 100%;
//   min-width: 300px;
//   max-width: 600px;
//   min-height: 300px;
// }

// .dd-post-title, .dd-post-subtitle {
//   line-height: 1.3;
// }

// .dd-post-title {
//   font-size: 2rem;
//   margin-bottom: 0;
// }

// .dd-post-subtitle {
//   color: #666;
//   font-size: 1.25rem;
//   font-weight: 400;
//   margin: 0;
// }

// .dd-post-meta {
//   @include font-sans();
//   color: #666;
//   font-size: 0.88rem;
//   margin: 0.5rem 0 1.5rem;
// }

// .dd-site-header {
//   @include font-sans-wide();
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #894852;
//   min-height: 4rem;
//   font-weight: 600;
//   text-transform: uppercase;
//   letter-spacing: 0.65px;

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// body.homepage {
//   .dd-site-header {
//     background-color: black;
//     color: #1B22E6;
//   }
//   &, .dd-container {
//     background-color: #1B22E6;
//     color: white;
//   }
// }

// .dd-home {
//   margin: 0 auto;
//   max-width: 60ch;
// }

// $hero-bp: 540px;

// .dd-hero {
//   display: flex;
//   flex-direction: column;
  
//   @media screen and (min-width: $hero-bp) {
//     align-items: center;
//     flex-direction: row;
//   }
// }

// .dd-hero-img {
//   max-width: 120px;
// }

// .dd-hero-title {
//   @include font-sans-wide();
//   margin: 1rem 0 0;
//   font-size: 2.75rem;
//   font-weight: 400;
//   line-height: 1;

//   @media screen and (min-width: $hero-bp) {
//     margin: 0 0 0 1.5rem;
//   }
// }

// .dd-intro {
//   @include font-sans();
  
//   b {
//     @include font-sans-wide();
//     white-space: nowrap;
//   }

//   p {
//     font-size: 1.2rem;
//     margin-bottom: 1.37rem;
//   }
  
//   p:first-child {
//     font-size: 1.7rem;
//     line-height: 1.2;
//   }
// }

// .dd-button {
//   @include font-sans-wide();
//   text-transform: uppercase;
//   font-weight: 500;
//   font-size: 0.89rem;
//   letter-spacing: 0.8px;
//   background-color: black;
//   color: white;
//   text-decoration: none;
//   padding: 0.5em 1em;
//   display: inline-block;
//   border-radius: 2em;
// }

// .dd-home-section {
//   margin-bottom: 4rem;
// }