
@mixin reset-insets {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  &:first-child {
    margin-top: 0;
  }
}

html {
  --background-color: snow;
  --navbar-color: black;
  --navbar-text-color: white;
  --text-color: black;
  --text-font: 'halyard-text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-weight: 300;
  --small-text-font: 'halyard-micro', 'halyard-text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --small-text-weight: 400;
  --light-text-color: #999;
  --link-color: black;

  font-size: 112.5%;

  @media (min-width: 540px) {
    font-size: 125%;
  }
}

body {
  @include reset-insets();
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  &, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav-drawer {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: var(--text-weight);

  width: 14rem;
  top: 0;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  left: -14rem;
  background-color: salmon;
  color: black;

  &__content {
    padding: 1.5rem;
  }

  &__placeholder {
    text-align: center;
  }
}


.nav-drawer, .site-layout {
  transition: transform 0.2s ease-in;

  .nav-drawer-open & {
    transform: translateX(14rem);
  }
}

.nav-toggle {
  display: grid;
  align-items: center;
  justify-content: center;

  &__button {
    outline: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }
}

.min-vh-100 {
  min-height: 100vh;
}

.inline-svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}


.site-layout {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: var(--text-weight);

  display: grid;
  grid-template-rows: minmax(56px, auto) 1fr minmax(56px, auto);
  min-height: 100vh;
}


@function dd-column-width($num-cols, $total-width, $gutter-width: 30px) {
  @return ( ( $total-width - ($gutter-width * ($num-cols + 1)) ) / $num-cols );
}

@mixin dd-content-grid() {
  display: grid;
  grid-template-columns: [all-start] 1fr [main-start] repeat(4, [main-col] minmax(dd-column-width(4, 320px), dd-column-width(4, 600px))) [main-end] 1fr [all-end];
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 1.5rem 30px;
  align-items: start;
  align-content: start;
  padding: 1.5rem 0;

  & > * {
    grid-column: main-start / main-end;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 640px) {
    grid-template-columns: [all-start] 1fr [main-start] repeat(6, [main-col] minmax(dd-column-width(6, 580px), dd-column-width(6, 800px))) [main-end] 1fr [all-end];
  }
}

body.use-content-grid .site-main {
  @include dd-content-grid();
}

@import './site-header.scss';
@import './page-index.scss';
@import './page--blog-index.scss';

.site-footer {
  color: var(--light-text-color);
  font-family: var(--small-text-font);
  font-size: 0.7rem;
  font-weight: var(--small-text-weight);
  line-height: 1;
  
  display: grid;
  align-items: center;
  justify-content: center;
}

.twitter-tweet {
  margin: 0 auto;
}