body.page--index {
  --text-color: white;
  --background-color: #18334b;

  .site-layout {
    background-image: url(//res.cloudinary.com/demaree/image/upload/c_scale,q_60,w_2000/v1517329858/diego-ph-222506_tsy59g.jpg), linear-gradient(195deg, #18334b 40%, #3f3b57 55%, #c8514b 90%);
    background-size: cover;
    background-position: 50% 84%;
  }
}

.social-group {
  justify-self: start;

  &, ul, li {
    @include reset-insets();
  }

  ul, li, a {
    display: grid;
  }

  a {
    font-family: var(--small-text-font);
    font-weight: var(--small-text-weight);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    background-color: salmon;
    grid-template-columns: 2px [icon-st] 40px [label-st] 1fr 10px;
    min-height: 48px;
    align-self: center;
    align-items: center;
    border-radius: 8px;

    &:hover {
      background-color: #eb6250;
    }
    
    svg {
      grid-column: icon-st / label-st;
      font-size: 1.35rem;
      justify-self: center;
      
      &.fa-paper-plane {
        font-size: 1rem;
      }
    }

    span {
      grid-column: label-st / span 1;
    }
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 48px;
    grid-gap: 10px;
  }

  @media (max-width: 540px) {
    justify-self: stretch;

    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 380px) {
    a {
      justify-items: center;
      grid-template-columns: [icon-st] 48px;
    }
    a span {
      display: none;
    }
    ul {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: dense;
    }
  }
}


.nonexistent {

  
  @media (min-width: 800px) {
  }
  
  .site-main {
    justify-items: center;

    @media (min-width: 540px) {
      align-items: center;
      align-content: center;
    }
  }
  
  .hero-section {
    color: hsl(10deg, 80%, 85%);
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: 0.45px;
    font-weight: 300;
    
    b {
      color: white;
    }
    
    @media (min-width: 640px) {
      font-size: 2rem;
    }
  }
  
  .hero-section p {
    margin: 0 0 0.35em;
  }
}