$mdc-typography-font-family: 'halyard-text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@import '@material/typography/mdc-typography.scss';
@import './mixins';

.page--blog-index {
  --background-color: rebeccapurple;
  --text-color: snow;
}

.page--blog-post {
  --text-color-medium-emphasis: #{rgba(#000, 0.67)};
  $space-after-title: 2rem;

  .site-main {
    @include dd-content-grid();
  }

  .blog-post {
    padding: 1.25rem 0;

    & > * {
      font-size: 1rem;
      line-height: 1.5;
      margin: 0 0 1.25rem;
    }

    & > hr {
      @include fancy-divider;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .pullquote {
      margin: 2.5rem;
      font-style: italic;
      font-size: 1.25rem;
      color: var(--text-color-medium-emphasis);
      letter-spacing: -0.01em;

      em, i {
        // font-style: normal;
        font-weight: 500;
      }
    }

    a {
      @include fancy-underlines();
    }

    .title {
      @include mdc-typography(headline4);
      margin-bottom: $space-after-title;
    }
  
    .subtitle {
      color: var(--text-color-medium-emphasis);
      font-size: 1.25rem;
      line-height: 1.25;
      margin-bottom: $space-after-title;
      margin-top: 0;
    }
  
    .title + .subtitle {
      margin-top: (0 - $space-after-title + 0.25rem);
    }

    .twitter-tweet {
      margin: 2rem auto !important;
      box-shadow: 2px 2px 10px #0001;

      // Skip script tag if present
      & + *, & + script + * {
        margin-top: 2rem;
      }

      & + .twitter-tweet {
        margin-top: -1.375rem !important;
      }
    }
  }
}

.blog-index {
  &-header {
    h1 {
      @include mdc-typography(headline2);
    }
  }
  &-post {
    * {
      margin: 0 0 0.25rem;
    }
    a {
      @include fancy-underlines();
    }
    h2 {
      @include mdc-typography(headline5);

      a {
        background-size: 1px 2px;
      }
    }
  
    &__dateline {
      @include mdc-typography(overline);
    }
  
    &__description {
      @include mdc-typography(body2);
      font-weight: 300;
    }
  }
  &-divider {
    @include fancy-divider();
  }
}

