.site-header {
  // Grid
  display: grid;
  grid-auto-rows: minmax(48px, auto);
  grid-template-columns: [left-btn] 48px [logo-s] 1fr [logo-e right-btn] 48px;

  // Visual styles
  background: var(--navbar-color);
  color: var(--navbar-text-color);

  .header-logo {
    justify-self: center;
    grid-row: 1 / span 1;
    grid-column: logo-s / logo-e;
  }
  
  * {
    margin: 0;
    font-size: inherit;
  }
}

.header-logo {
  font-weight: 700;
  color: inherit;
  text-decoration: none;

  display: inline-grid;
  grid-template-columns: 48px auto 0.7rem;
  grid-template-rows: minmax(36px, auto);
  align-items: center;
  justify-items: center;

  & > * {
    margin: 0;
  }

  h1 {
    white-space: nowrap;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--small-text-font);
    font-size: 0.8em;
    line-height: 1;
    letter-spacing: 1px;
  }

  .dd-icon {
    font-size: 24px;
    color: #fff8;
  }
}

.site-nav {
  font-family: 'halyard-micro', 'halyard-text', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.header-nav {
    font-size: 0.75rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 0.5em;
    text-align: center;
    min-width: 240px;
  }
  
  &.overlay-nav {
    font-size: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    
    display: grid;
    align-items: center;
    grid-template-rows: 56px 1fr 56px;
    grid-template-columns: 1rem 1fr 1rem;
  }
  
}

.site-nav__link {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 48px;
  text-decoration: none;
  
  // &.active {
  //   background-image: linear-gradient(to bottom, var(--accent-color), var(--accent-color));
  //   background-repeat: repeat-x;
  //   background-size: 100% 50%;
  //   background-position: 50% 100%;
  // }
}

.site-nav__items {
  grid-column: 1 / -1;

  display: grid;
  grid-gap: 0.5em;
  align-items: center;
  
  li {
    // background: lightsalmon;
  }
}

.site-nav__toggle {
  border: 0;
  background: transparent;
  color: inherit;
  font-size: 1.5rem;
  grid-column: 2 / 3;
  outline: none;
  justify-self: end;
}