<header class="site-header p-6 flex flex-wrap items-center gap-x-8 gap-y-4 md:text-lg">
  <a href="/" class="justify-self-start whitespace-nowrap flex items-center gap-2 text-ink-bold">
    <i class="fak fa-dd-logo-square fa-2x"></i>
    <span class="font-semibold">David Demaree</span>
  </a>

  <span class="mx-8 flex-1 hidden sm:block"></span>  

  <nav>
    <ul class="flex flex-wrap gap-x-4 gap-y-2">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $isCurrent := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li>
          <a href="{{ .URL }}" class="flex items-center gap-2{{ if $isCurrent }} text-ink-bold font-semibold{{ else }} text-ink-medium{{ end }}">
            {{ with .Params.icon }}
            <i class="fa-fw fa-sm {{ if $isCurrent }}fas{{else}}fal{{ end }} {{ . }}"></i>
            {{ end }}
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>