<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="global-nav">
				David's web site
			</div>
			<main>
				{{ content | safe }}
			</main>
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>
