<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ title }}</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="dark-mode{% if slug %} page--{{slug}}{% endif %}">
		<div class="dd-grid-rows">
			<header role="banner" class="global-nav p-4">
				<div class="mx-auto max-w-4xl">
					<nav>
						<h1 class="title font-semibold">
							<a href="/">David Demaree</a>
						</h1>
						<ul class="flex">
							<li class="mr-2"><a href="/posts">Blog</a></li>
							<li class="mr-2"><a href="/speaking">Speaking</a></li>
							<li class="mr-2"><a href="/about">About</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<main class="dd-main p-4{% if main_classes %} {{ main_classes }}{% endif %}">
				<div class="max-w-4xl mx-auto">
				{{ content | safe }}
				</div>
			</main>

			<footer class="global-footer p-4">
				<div class="mx-auto max-w-4xl">
					<p class="text-ink-medium">&copy; 2020 David Demaree</p>
				</div>
			</footer>
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>
