<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			{{ content | safe }}
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>
