<!DOCTYPE html>
<html lang="en-US" class="{{ with .Params.html_class }} {{ . }}{{ end }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

    <link rel="preconnect" href="https://res.cloudinary.com" />

    {{ partial "head/opengraph.html" . }}
    {{ partial "head/twitter_card.html" . }}
    {{ partial "head/webfonts.html" . }}
    <script async src="https://kit.fontawesome.com/f0afb61fe2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.usefathom.com/script.js" data-site="TOFIAIKB" data-included-domains="demaree.me" defer></script>

    <base id="dd-site-info" data-context="{{ getenv "CONTEXT" }}" href="{{ $.Site.BaseURL }}">

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
  
    {{ block "head" . }}{{ end }}
  </head>
  <body class="{{ with .Params.body_class }} {{ . }}{{ end }}">
    <div class="bg-background text-ink dd-page">
    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
    <footer class="pt-8 text-center pb-16 text-ink-medium">
      <p class="text-lg font-serif mb-1">&ldquo;Have courage, and be kind.&rdquo;</p>
      <p>&copy;2021— David Demaree</p>
    </footer>
    {{ end }}
    
    </div>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
  </body>
</html>