*.jpg filter=lfs diff=lfs merge=lfs -text 
*.jpeg filter=lfs diff=lfs merge=lfs -text 
*.png filter=lfs diff=lfs merge=lfs -text 
*.gif filter=lfs diff=lfs merge=lfs -text 
content/blog/2021-02-04-web-font-hosting/cover-why-fonts-matter.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-transmit-webfonts.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-11-my-wfh-setup/2009-05-desk-armitage-ave.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-11-my-wfh-setup/photo-wfh-macbook-dock.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2018-blogging-is-a-pain-in-the-ass/cover-strangling-goose.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2020-07-no-more-masters/cover-unsplash-river.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-do-panel.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-webfont-code-nova.jpg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-11-my-wfh-setup/photo-wfh-cameras.jpg filter=lfs diff=lfs merge=lfs -text
content/testing/spikes.jpeg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-11-my-wfh-setup/cover-photo-wfh-2021.jpeg filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-11-my-wfh-setup/photo-wfh-keyboard-mouse.jpeg filter=lfs diff=lfs merge=lfs -text
content/blog/2020-07-no-more-masters/screenshot-github-header.png filter=lfs diff=lfs merge=lfs -text
content/blog/2020-07-no-more-masters/screenshot-github-readme.png filter=lfs diff=lfs merge=lfs -text
content/blog/2020-07-no-more-masters/screenshot-netlify.png filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-do-panel.png filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-transmit-webfonts.png filter=lfs diff=lfs merge=lfs -text
content/blog/2021-02-04-web-font-hosting/screenshot-webfont-code-nova.png filter=lfs diff=lfs merge=lfs -text
content/blog/2018-blogging-is-a-pain-in-the-ass/screenshot-cloud9-ide.png filter=lfs diff=lfs merge=lfs -text
content/blog/2020-07-no-more-masters/screenshot-github-default-branch.png filter=lfs diff=lfs merge=lfs -text
