// @import './assets/source-serif-pro/source-serif-pro.css';
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i');
@import './assets/rhody/fonts.css';
@import './assets/conductor/fonts.css';

$sidebar-width: 280px;
$bp-widescreen: 1140px;

@mixin widescreen {
  @media (min-width: $bp-widescreen) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;

  @media (min-width: 720px) {
    font-size: 125%;
  }

}

body {
  background-color: snow;
  font-family: 'halyard-text', sans-serif;
}

.container {
  padding: 2rem;
  max-width: 38rem;
  margin: 0 auto;
}


img {
  max-width: 100%;
  display: block;
}

.inline-svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

*:first-child {
  margin-top: 0;
}

.site-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: minmax(56px, auto) 1fr minmax(56px, auto);
}

@function dd-column-width($num-cols, $total-width, $gutter-width: 30px) {
  @return ( ( $total-width - ($gutter-width * ($num-cols + 1)) ) / $num-cols );
}

@mixin dd-content-grid {
  display: grid;
  grid-template-columns: [all-start] 1fr [main-start] repeat(4, [main-col] minmax(dd-column-width(4, 320px), dd-column-width(4, 600px))) [main-end] 1fr [all-end];
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 1.5rem 30px;
  align-items: start;
  align-content: start;
  
  & > * {
    grid-column: main-start / main-end;
    margin: 0;
    padding: 0;
  }
  
  & > &__fullbleed {
    grid-column: all-start / all-end;
  }
  
  @media (min-width: 640px) {
    grid-template-columns: [all-start] 1fr [main-start] repeat(6, [main-col] minmax(dd-column-width(6, 580px), dd-column-width(6, 800px))) [main-end] 1fr [all-end];
  }
}

%content-grid, .dd-content-grid {
  @include dd-content-grid;
}

.site-main {
  @extend .dd-content-grid;
} 

.section-hed {
  padding: 2rem 0 0;
  line-height: 1;
}

.dd-divider {
  border: 0;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &:after {
    content: '';
    display: block;
    background: currentColor;
    height: 3px;
    width: 50%;
  }
}

.dd-header-1 {
  font-size: 2.4rem;
  font-weight: 300;
}

.dd-header-2 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.25px;
}

.page--index {
  
  // .hero-image {
  //   grid-column: all-start / all-end;
  //   min-height: 35vh;
  //   padding-top: 50%;
  // }

  // .hero-section-content {
  //   font-size: 1.5rem;
  //   line-height: 1.34;
    
  //   em {
  //     font-style: normal;
  //   }
    
  //   & > * {
  //     margin: 0 0 0.65em;
  //   }
  // }
  
  // @media (min-width: 700px) {
  //   .site-main {
  //     align-items: center;
  //     align-content: center;
  //   }
  //   .hero-image, .hero-section-content {
  //     grid-row: 1 / -1;
  //   }
  //   .hero-section-content {
  //     justify-self: center;
  //   }
  // }


  // .hero-image {
  //   grid-column: 1 / - 1;
  //   padding-top: 30%;
  //   min-height: 50vh;
  // }

  // .hero-section-content {
  //   line-height: 1.34;
  //   font-size: 1.5rem;
  //   font-weight: 300;
    
  //   *:first-child {
  //     margin-top: 0;
  //   }

  //   b {
  //     white-space: nowrap;
  //   }
  //   em {
  //     font-style: normal;
  //     font-size: 0.9em;
  //     margin: 0 2px;
  //   }
  //   .activity {
  //     padding: 0 3px;
  //     background-color: #fff9;
  //   }
  //   p {
  //     margin: 0.5em 0;
  //   }
  // }
  
  // @media (min-width: 600px) {
  //   .site-main {
  //     align-items: center;
  //     grid-template-rows: minmax(2rem, 1fr) [main-start] auto minmax(2rem, 1fr);
  //   }
    
  //   .site-main > * {
  //     grid-row-start: main-start;
  //   }

  //   .hero-image {
  //     grid-column: main-col 1 / main-col 3;
  //     align-self: center;
  //     padding-top: 100%;
  //     border-radius: 100%;
  //   }
  //   .hero-section-content {
  //     grid-column: main-col 3 / main-end;
  //   }
  // }
}


.site-header, .site-footer {
  background-color: white;

  & > * {
    margin: 0;
  }
}

.site-footer {
  font-size: 0.7rem;
  font-family: 'halyard-micro', 'halyard-text', sans-serif;
  color: #888;
  line-height: 1;
  
  display: grid;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #999;
}

.medium-post {
  & > * {
    margin: 0;
  }
}

.dd-section {
  grid-column: all-start / all-end;
  @extend .dd-content-grid;
  
  &__hero {
    grid-column: all-start / all-end;
    padding-top: 50%;
    align-self: stretch;
  }
  
  &__header {
    grid-row: 1 / 2;
  }
  
  &__content {
    
    blockquote {
      border-left: 2px solid mediumseagreen;
      margin: 1em 0;
      padding-left: 1.25em;
      padding-right: 1.25em;
      // font-size: 0.78em;
      // line-height: 1.4;
      // font-weight: 400;
      // // font-style: italic;
      // font-family: 'halyard-micro';
    }
    
    cite {
      text-transform: uppercase;
      font-style: normal;
      &:before {
        content: '—';
      }
    }
  }
  
  @media (min-width: 680px) {
    grid-template-rows: [start] auto [content-start] 1fr [end];
    
    &__hero, &__content {
      grid-row-start: 2;
    }

    &__hero {
      grid-column: main-col 5 / main-end;
    }
    &__content {
      grid-column-end: main-col 5;
    }
  }
}
