// @import './assets/source-serif-pro/source-serif-pro.css';
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i');
@import './assets/rhody/fonts.css';
@import './assets/conductor/fonts.css';

$sidebar-width: 280px;
$bp-widescreen: 1140px;

@mixin widescreen {
  @media (min-width: $bp-widescreen) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {

  font-size: 112.5%;

  @media (min-width: 720px) {
    font-size: 125%;
  }

}

body {
  background-color: snow;
  font-family: 'halyard-text', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.inline-svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

a {
  color: inherit;
}

*:first-child {
  margin-top: 0;
}

.site-layout {
  --background-color: white;
  --text-color: black;
  --light-text-color: #999;
  --link-color: black;
  --accent-color: mediumseagreen;

  &.dark-mode {
    --background-color: black;
    --text-color: snow;
    --light-text-color: #999;
    --link-color: white;
    --accent-color: salmon;
  }

  background-color: var(--background-color);
  color: var(--text-color);

  display: grid;
  min-height: 100vh;
  grid-template-rows: minmax(56px, auto) 1fr minmax(56px, auto);
}

@function dd-column-width($num-cols, $total-width, $gutter-width: 30px) {
  @return ( ( $total-width - ($gutter-width * ($num-cols + 1)) ) / $num-cols );
}

@mixin dd-content-grid {
  display: grid;
  grid-template-columns: [all-start] 1fr [main-start] repeat(4, [main-col] minmax(dd-column-width(4, 320px), dd-column-width(4, 600px))) [main-end] 1fr [all-end];
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 1.5rem 30px;
  align-items: start;
  align-content: start;
  padding: 1.5rem 0;
  
  & > * {
    grid-column: main-start / main-end;
    margin: 0;
    padding: 0;
  }
  
  & > &__fullbleed {
    grid-column: all-start / all-end;
  }
  
  @media (min-width: 640px) {
    grid-template-columns: [all-start] 1fr [main-start] repeat(6, [main-col] minmax(dd-column-width(6, 580px), dd-column-width(6, 800px))) [main-end] 1fr [all-end];
  }
}

%content-grid, .dd-content-grid {
  @include dd-content-grid;
}

.site-main {
  @extend .dd-content-grid;
} 

.section-hed {
  padding: 2rem 0 0;
  line-height: 1;
}

.dd-divider {
  border: 0;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &:after {
    content: '';
    display: block;
    background: currentColor;
    height: 3px;
    width: 50%;
  }
}

.dd-header-1 {
  font-family: 'Sentinel A', 'Sentinel B', 'halyard-display', 'halyard-text', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}

.dd-header-2 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.25px;
}

.page--index {
  background-color: #18334b;
  background-image: url(//res.cloudinary.com/demaree/image/upload/c_scale,q_60,w_2000/v1517329858/diego-ph-222506_tsy59g.jpg), linear-gradient(195deg, #18334b 40%, #3f3b57 55%, #c8514b 90%);

  background-size: cover;
  background-position: 50% 84%;
  color: white;
  
  @media (min-width: 800px) {
  }
  
  .site-main {
    justify-items: center;

    @media (min-width: 540px) {
      align-items: center;
      align-content: center;
    }
  }
  
  .hero-section {
    color: hsl(10deg, 80%, 85%);
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.45px;
    font-weight: 300;
    
    b {
      color: white;
    }
    
    @media (min-width: 640px) {
      font-size: 2rem;
    }
  }
  
  .hero-section p {
    margin: 0 0 0.35em;
  }
}

.socials {
  justify-self: start;

  &, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul, li, a {
    display: grid;
  }

  a {
    font-family: 'halyard-micro', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    background-color: salmon;
    grid-template-columns: 2px [icon-st] 40px [label-st] 1fr 10px;
    min-height: 48px;
    align-self: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #0002;

    &:hover {
      background-color: #eb6250;
    }
    
    svg {
      grid-column: icon-st / label-st;
      font-size: 1.35rem;
      justify-self: center;
    }

    span {
      grid-column: label-st / span 1;
    }
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 48px;
    grid-gap: 10px;
  }

  @media (max-width: 540px) {
    justify-self: stretch;

    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 380px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
}


.site-header, .site-footer {
  & > * {
    margin: 0;
  }
}

.site-footer {
  font-size: 0.7rem;
  font-family: 'halyard-micro', 'halyard-text', sans-serif;
  line-height: 1;
  color: var(--light-text-color);
  
  display: grid;
  align-items: center;
  justify-content: center;
}

.medium-post {
  & > * {
    margin: 0;
  }
}

.dd-section {
  grid-column: all-start / all-end;
  @extend .dd-content-grid;
  
  &__hero {
    grid-column: all-start / all-end;
    padding-top: 50%;
    align-self: stretch;
  }
  
  &__header {
    grid-row: 1 / 2;
  }
  
  &__content {
    
    blockquote {
      border-left: 2px solid mediumseagreen;
      margin: 1em 0;
      padding-left: 1.25em;
      padding-right: 1.25em;
    }
    
    cite {
      text-transform: uppercase;
      font-style: normal;
      &:before {
        content: '—';
      }
    }
  }
  
  @media (min-width: 680px) {
    grid-template-rows: [start] auto [content-start] 1fr [end];
    
    &__hero, &__content {
      grid-row-start: 2;
    }

    &__hero {
      grid-column: main-col 5 / main-end;
    }
    &__content {
      grid-column-end: main-col 5;
    }
  }
}
