@font-face {
  src: url('Conductor-Bold.woff2') format("woff2"),
       url('Conductor-Bold.woff') format("woff");
  font-family: 'conductor';
  font-style: normal;
  font-weight: 700;
  }

@font-face {
  src: url('Conductor-BoldItalic.woff2') format("woff2"),
       url('Conductor-BoldItalic.woff') format("woff");
  font-family: 'conductor';
  font-style: italic;
  font-weight: 700;
  }

@font-face {
  src: url('ConductorNarr-Bold.woff2') format("woff2"),
       url('ConductorNarr-Bold.woff') format("woff");
  font-family: 'conductor-narrow';
  font-style: normal;
  font-weight: 700;
  }

@font-face {
  src: url('ConductorNarr-BoldItalic.woff2') format("woff2"),
       url('ConductorNarr-BoldItalic.woff') format("woff");
  font-family: 'conductor-narrow';
  font-style: italic;
  font-weight: 700;
  }

@font-face {
  src: url('ConductorWide-Bold.woff2') format("woff2"),
       url('ConductorWide-Bold.woff') format("woff");
  font-family: 'conductor-wide';
  font-style: normal;
  font-weight: 700;
  }

@font-face {
  src: url('ConductorWide-BoldItalic.woff2') format("woff2"),
       url('ConductorWide-BoldItalic.woff') format("woff");
  font-family: 'conductor-wide';
  font-style: italic;
  font-weight: 700;
  }