@font-face{
  font-family:sohne-var;
  src: url('soehne-var-a.woff2') format("woff2-variations");
  font-weight:1 1000;
  font-display:block;
  unicode-range:U+0000-007e;
}
@font-face{
  font-family:sohne-var;
  src:url('soehne-var-b.woff2') format("woff2-variations");
  font-weight:1 1000;
  font-display:block;
  unicode-range:U+007f-ffff;
}