@mixin dark-theme-colors {
  --color-text: white;
  --color-background: var(--near-black);
  --color-surface: #141414;
  --color-accent: var(--light-purple);
  --color-light-text: var(--gray);
  --color-link: var(--blue);
}

@mixin light-theme-colors {
  --color-text: var(--near-black);
  --color-background: white;
  --color-surface: white;
  --color-accent: var(--red);
  --color-light-text: var(--gray);
  --color-link: var(--blue);
}

@mixin dark-theme {
  :global(body.theme-dark) & {
    @content;
  }
  :global(body.theme-system) & {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}

.dd-background {
  color: var(--color-background);
}

.dd-surface {
  color: var(--color-surface);
}

.dd-bg-background {
  background-color: var(--color-background);
}

.dd-bg-surface {
  background-color: var(--color-surface);
}

.dd-accent {
  color: var(--color-accent);
}

.dd-bg-accent {
  background-color: var(--color-accent);
}

.dd-light-text {
  color: var(--color-light-text);
}

.dd-bg-fade {
  background-color: var(--color-background);
  background-image: linear-gradient(var(--color-surface), var(--color-background));
  background-size: 40vh;
  background-repeat: repeat-x;
}