@import './tachyons.scss';

@import '../sass_includes/typography';
@import '../sass_includes/grid-layout';
@import '../sass_includes/theming';

:root {
  @include light-theme-colors();
}

* {
  box-sizing: border-box;
}

html {
  font-size: 22px;

  @media (max-width: 960px) {
    font-size: 20px;
  }

  @media (max-width: 560px) {
    font-size: 18px;
  }
}

body {
  @include font-style-body();
  background-color: var(--color-background);
  color: var(--color-text);

  &.theme-system {
    @media (prefers-color-scheme: dark) {
      @include dark-theme-colors();
    }
  }

  &.theme-dark {
    @include dark-theme-colors();
  }
}

a[href] {
  color: var(--color-text);
  text-decoration-color: var(--color-link);
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 2px;

  &:hover, &:active {
    text-decoration-style: solid;
  }
}

// Misc styles, to likely be moved into modules someday

.dd-icon {
  height: 1em;
  display: inline-block;

  svg {
    height: 100%;
    margin: 0;
    display: block;
  }
}