@import './tachyons.scss';

@import '../sass_includes/typography';
@import '../sass_includes/grid-layout';

:root {
  --color-text: var(--near-black);
  --color-background: var(--white);
  --color-accent: var(--red);
  --color-light-text: var(--gray);
  --color-link: var(--blue);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 22px;

  @media (max-width: 960px) {
    font-size: 20px;
  }

  @media (max-width: 560px) {
    font-size: 18px;
  }
}

body {
  @include font-style-body();
}

a[href] {
  color: var(--color-text);
  text-decoration-color: var(--color-link);
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 2px;

  &:hover, &:active {
    text-decoration-style: solid;
  }
}
