{{ define "main" }}
{{ $paginator := .Paginate (.Pages.GroupByDate "Jan 2006") }}
<div class="max-w-3xl mx-auto px-8">
  <h1 class="text-center text-2xl font-semibold text-ink-bold">Notes</h1>

  {{ range $paginator.PageGroups  }}
  <h2 class="font-roslindale-2 font-semibold text-ink-bold text-2xl mt-16 mb-8 first:mt-0">
    {{ .Key }}
  </h2>
  
  {{ range .Pages }}
    {{ .Render "li"}}
  {{ end }}
  <hr class="text-accent my-16 dots-divider">
  {{ end }}

  {{ with $paginator }}
  {{ if (or .HasPrev .HasNext) }}
  <div>
    {{ with .Prev }}
    <a href="{{ .URL }}">&larr; Page {{ .PageNumber }}</a>
    {{ end }}

    <div>
      Page {{ .PageNumber }} of {{ .TotalPages }}
    </div>

    {{ with .Next }}
    <a href="{{ .URL }}">Page {{ .PageNumber }} &rarr;</a>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}