---
permalink: _redirects
---
/the-underpants-gnomes-test    /posts/the-underpants-gnomes-test
/on-authority                  /posts/on-authority
/people-over-work-product      /posts/people-over-work-product
/disney-dining-plan-economics  /posts/disney-dining-plan-economics
/2019-in-review                /posts/2019-in-review
/hello-world                   /posts/hello-world