<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>

<body class="{{ body_classes | join: ' ' }}">
{{ content }}

<script src="/assets/main.js"></script>
{% if jekyll.env != "production" %}
{% endif %}
</body>

</html>