{{ $baseURL := "res.cloudinary.com/demaree/image/upload" }}
{{ $src := .Get "src" }}

{{ $width   := int (.Get "width")  }}
{{ $height  := int (.Get "height") }}
{{ $ratio   := div (float $height) (float $width) }}
{{ $padding := mul $ratio 100 }}

{{ with .Page.Param "cloudinary_base" }}
{{ $src = (path.Join . $src )}}
{{ end }}

{{ $cropMode := (or (.Get "crop") "fill") }}
{{ $fmt := printf "//%s/w_%%d,h_%%d,c_%s/%s" $baseURL $cropMode $src }}
{{ $fullURL := printf $fmt $width $height }}
{{ $previewURL := printf $fmt (int (math.Floor (div $height 10))) (int (math.Floor (div $width 10))) }}

<figure{{ with .Get "class"}} class="{{ . }}"{{ end }}>
  {{ partial "lazy-img.html" (dict "alt" (.Get "alt") "class" (.Get "class") "height" $height "width" $width "fullURL" $fullURL "previewURL" $previewURL "padding" $padding "context" .) }}
  {{ with .Get "caption" }}
  <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>