---
layout: base
---
{% include "header.njk" %}

{{ content | safe }}    

<footer class="pt-8 text-center pb-16 text-inkMedium">
  <p class="text-lg font-serif mb-1">&ldquo;Have courage, and be kind.&rdquo;</p>
  <p>&copy;2021— David Demaree</p>
</footer>