{{- define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end -}}
{{- define "head" }}
<meta name="twitter:label1" value="Reading time" />
<meta name="twitter:label2" value="{{ .ReadingTime}} min read" />
{{ with $cssString := .Params.custom_css }}
<style type="text/css">{{ $cssString | safeCSS }}</style>
{{ end }}
{{ end -}}
{{- define "main" }}
<!-- blog/single - main -->
<header class="dd-blog-header grid dd-grid-cols py-12 px-8">
  <h1 data-content="{{ .Title }}" class="dd-blog-title dd-col-full mb-3 deorphan text-inkBold">{{ .Title }}</h1>

  {{ with (or .Params.subtitle .Params.excerpt .Params.description) }}<h2 class="text-center dd-col-full text-inkMedium text-lg sm:text-xl leading-snug sm:leading-snug mb-4">{{ . }}</h2>{{ end }}

  <div class="post-meta text-inkMedium text-base text-center dd-col-full text-inkMedium">{{ .Date.Format "Jan 2 2006" }} • {{ .ReadingTime }} min read</div>
</header>

<main class="grid dd-grid-cols">
  <div class="dd-prose contents text-lg font-serif text-ink">
    {{ .Content }}
  </div>

  {{ if or .NextInSection .PrevInSection }}
  <div class="post-navigation py-12 content-width flex">
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}" rel="next" class="flex-1 flex items-center">
      <i class="fas fa-chevron-left text-accent text-3xl mr-3"></i>
      <div class="flex-1">
        <div class="text-base uppercase tracking-widest text-inkMedium">Next post</div>
        <div class="text-lg font-semibold">{{ .Title }}</div>
      </div>
    </a>
    {{ end }}
    {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" rel="prev" class="flex-1 flex items-center text-right">
      <div class="flex-1">
        <div class="text-base uppercase tracking-widest text-inkMedium">Previous post</div>
        <div class="text-lg font-semibold">{{ .Title }}</div>
      </div>
      <i class="fas fa-chevron-right text-accent text-3xl ml-3"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

</main>
<!-- /blog/single - main -->
{{ end }}