<!DOCTYPE html>
<html class="{{ with .Params.html_class }} {{ . }}{{ end }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <link rel="canonical" href="https://demaree.me{{ .RelPermalink }}" />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
    {{ partial "head/opengraph.html" . }}
    {{ partial "head/webfonts.html" . }}
    {{ partial "head/twitter_card.html" . }}
    <script src="https://kit.fontawesome.com/f0afb61fe2.js" crossorigin="anonymous"></script>
    {{ $style := resources.Get "css/main.css" | resources.PostCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" />
    <script src="https://cdn.usefathom.com/script.js" data-site="TOFIAIKB" data-included-domains="demaree.me" defer></script>
    {{ block "head" . }}{{ end }}
  </head>
  <body class="{{ with .Params.body_class }} {{ . }}{{ end }}">
    <div class="bg-surface text-ink dd-page">
    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
    <footer class="pt-8 text-center pb-16 text-inkMedium">
      <p class="text-lg font-serif mb-1">&ldquo;Have courage, and be kind.&rdquo;</p>
      <p>&copy;2021— David Demaree</p>
    </footer>
    {{ end }}
    
    </div>

    <template id="la-z-vue-tpl">
      <div class="la-z-vue relative mx-auto" :style="{maxWidth: `min(${width}px, 100%)`}">
        <div class="la-z_pw">
          <img 
            :src="previewSrc"
            :height="height"
            :width="width"
            :class="['la-z_img']" />
        </div>
        <transition name="reveal">
          <img
            v-if="visible"
            v-on:load="loaded = true" 
            :class="['absolute top-0 left-0 opacity-0 transition-opacity duration-300', {'opacity-100': loaded}]"
            :height="height"
            :width="width"
            :src="src"  />
        </transition>
      </div>
    </template>
    {{ $defines := dict "process.env.NODE_ENV" `"development"` }}
    {{ $js := resources.Get "js/main.js" | js.Build (dict "defines" $defines) }}
    <script async src="{{ $js.RelPermalink }}"></script>
    {{ block "footerscripts" . }}{{ end }}
  </body>
</html>