<!DOCTYPE html>
<html lang="en-US" class="{{ with .Params.html_class }} {{ . }}{{ end }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

    <link rel="preconnect" href="https://res.cloudinary.com" />

    {{ partial "head/opengraph.html" . }}
    {{ partial "head/twitter_card.html" . }}
    {{ partial "head/webfonts.html" . }}
    <script async src="https://kit.fontawesome.com/f0afb61fe2.js" crossorigin="anonymous"></script>
    {{/*  {{ $style := resources.Get "css/main.css" | resources.PostCSS | minify | fingerprint }}  */}}
    {{ $style := resources.Get "css/frontend.scss" | resources.ToCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" />
    <script src="https://cdn.usefathom.com/script.js" data-site="TOFIAIKB" data-included-domains="demaree.me,demaree.space" defer></script>
    {{ block "head" . }}{{ end }}
  </head>
  <body class="{{ with .Params.body_class }} {{ . }}{{ end }}">
    <div class="bg-surface text-ink dd-page">
    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
    <footer class="pt-8 text-center pb-16 text-inkMedium">
      <p class="text-lg font-serif mb-1">&ldquo;Have courage, and be kind.&rdquo;</p>
      <p>&copy;2021— David Demaree</p>
    </footer>
    {{ end }}
    
    </div>

    {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
    {{ $js := resources.Get "js/main.js" | js.Build (dict "defines" $defines) }}
    <script async src="{{ $js.RelPermalink }}"></script>
  </body>
</html>