@layer base {
  :root {
    --inset: 1.5rem;
    --spacing-regular: 1.5rem;
    --spacing-big: 3rem;
    --spacing-verybig: 4rem;
    --layout-content-width: 42rem;
    --layout-wide-width: 56rem;
  }
}