
:root {
  --inset: theme("spacing.6");
  --spacing-regular: theme("spacing.6");
  --spacing-big: theme("spacing.12");
  --spacing-verybig: theme("spacing.16");
  --layout-content-width: theme("maxWidth.2xl");
  --layout-wide-width: theme("maxWidth.4xl");
}

@layer components {
  .homepage-header {
    align-items: center;

    strong {
      @apply text-inkBold font-semibold;
    }
  }
}

@layer utilities {
  .js-hidden {
    display: none;

    .js-active & {
      display: block;
    }
  }

  .fancy-blur {
    backdrop-filter: blur(6px);
  }

  .dd-icon {
    height: 1em;
  }

  .dd-grid-cols {
    --layout-gap: 0px;
    --layout-gutter: calc(
      50vw - (var(--layout-wide-width) / 2) - var(--layout-gap)
    );

    grid-template-columns:
      [full-start wide-start] minmax(theme("spacing.8"), var(--layout-gutter))
      [content-start] repeat(8, 1fr) [content-end] minmax(
        theme("spacing.8"),
        var(--layout-gutter)
      )
      [wide-end full-end];

    @screen sm {
      grid-template-columns:
        [full-start] minmax(theme("spacing.6"), var(--layout-gutter))
        [wide-start] 1fr [content-start] repeat(6, 1fr)
        [content-end] 1fr [wide-end] minmax(
          theme("spacing.6"),
          var(--layout-gutter)
        )
        [full-end];
    }
  }

  @responsive {
    .dd-col-full,
    .dd-block-full {
      grid-column: full;
    }

    .dd-col-wide,
    .dd-block-wide,
    .wide-width {
      grid-column: wide;
    }

    .dd-col-content,
    .dd-block-content,
    .content-width {
      grid-column: content;
    }
  }
}