@font-face {
  src: url('./soehne-web-buch-kursiv.woff2') format("woff2"),
       url('./soehne-web-buch-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('./soehne-web-buch.woff2') format("woff2"),
     url('./soehne-web-buch.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-dreiviertelfett-kursiv.woff2') format("woff2"),
     url('./soehne-web-dreiviertelfett-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-dreiviertelfett.woff2') format("woff2"),
     url('./soehne-web-dreiviertelfett.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-extrafett-kursiv.woff2') format("woff2"),
     url('./soehne-web-extrafett-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-extrafett.woff2') format("woff2"),
     url('./soehne-web-extrafett.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-extraleicht-kursiv.woff2') format("woff2"),
     url('./soehne-web-extraleicht-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-extraleicht.woff2') format("woff2"),
     url('./soehne-web-extraleicht.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-fett-kursiv.woff2') format("woff2"),
     url('./soehne-web-fett-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-fett.woff2') format("woff2"),
     url('./soehne-web-fett.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-halbfett-kursiv.woff2') format("woff2"),
     url('./soehne-web-halbfett-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-halbfett.woff2') format("woff2"),
     url('./soehne-web-halbfett.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-kraftig-kursiv.woff2') format("woff2"),
     url('./soehne-web-kraftig-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-kraftig.woff2') format("woff2"),
     url('./soehne-web-kraftig.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-leicht-kursiv.woff2') format("woff2"),
     url('./soehne-web-leicht-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-leicht.woff2') format("woff2"),
     url('./soehne-web-leicht.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}