.gridContainer {
  /* display: grid;
  grid-template-rows: theme('spacing.6') [content-start] 1fr [content-end bottom-start] theme('spacing.8') [bottom-end];
  grid-template-columns: minmax(theme('spacing.6'), 1fr) [content-start] minmax(calc(320px - (theme('spacing.6') * 2)), 34rem) [content-end] minmax(theme('spacing.6'), 1fr);
  align-items: center;
  row-gap: theme('spacing.4');

  & > * {
    grid-column: content;
  }

  @screen md {
    min-height: 70vh;
  } */
}

.contentBox {
  /* grid-row: content;

  @screen xs {
    display: grid;
    grid-template-columns: theme('width.24') 1fr;
    grid-template-rows: 1fr;
    gap: theme('spacing.4');
  }

  @screen md {
    grid-template-columns: theme('width.32') 1fr;
  } */
}

.chevron {
  grid-row: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox {
  grid-column: 1 / -1;
}