@import 'typography';


.article {
  border: 1px solid var(--color-hairline, var(--black-10));
  border-radius: 0.25em;
  box-shadow: 0 0.25rem 0.5rem var(--black-05);
  grid-column: span 1;
  background-color: var(--color-surface);
  background-color: #333;
  overflow: hidden;

  figure {
    margin: 0;
    padding: 0;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;

      @media (min-width: 60em) {
        height: 8rem;
      }
    }
  }

  .articleContent, .articleImage {
    margin: 0;
  }

  .articleContent {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: center;
    justify-self: left;
    max-width: 36ch;

    p {
      line-height: 1.25;
    }
  }

  .articleImage {
    grid-column: 2 / 3;
  }

  .articleInner {
    display: block;
    text-decoration: none;
    height: 100%; // for if the grid row is taller than the content

    @media (min-width: 40em) and (max-width: 60em) {
      display: grid;
      grid-template-columns: [full-start] 1fr [image] minmax(6rem, 35%) [full-end];
      grid-template-rows: minmax(7rem, 1fr);
      grid-gap: 1rem;
    }
  }

  h4 {
    @include link-style();
  }

  &:hover {
    box-shadow: 0 0.5rem 0.625rem var(--black-10);

    h4 {
      text-decoration-style: solid;
    }
  }

}

.postsSection {

  @media (min-width: 30em) {
    display: grid;
    grid-template-columns: [full-start] repeat(1, 1fr) [full-end];
    grid-gap: var(--spacing-medium);

    & > * {
      margin: 0;
    }

    h3 {
      grid-column: full;
      margin: 0;
    }

    figure {
      display: block;
      margin-bottom: var(--spacing-small);

      img {
      }
    }
  }

  @media (min-width: 60em) {
    grid-template-columns: [full-start] repeat(2, 1fr) [full-end];
  }
}