<header id="site-header" class="site-header">
  <a href="/" class="header-logo site-header__logo">
    {% if is_homepage %}
    <p class="header-logo__text">David Demaree</p>
    {% else %}
    <h1 class="header-logo__text">David Demaree</h1>
    {% endif %}
  </a>
</header>