@import 'typography';

.pageContent {
  font-size: 1.25em;

  & > * {
    margin-top: 1.56rem;
    margin-bottom: 1.56rem;
    max-width: 32rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  :global(.lede) {
    @include font-style-lede();
  }
}