@import "../sass_includes/typography";

.header {
  margin-left: -4vw;
  margin-right: -4vw;
  margin-bottom: 1.5em;

  &.hasFeatureImage, &.fancyHeader {
    position: relative;
    color: white;
  }

  &.fancyHeader {
    background-color: var(--blue);
    height: 14rem;
  }

  figure {
    padding: 0;
    margin: 0;
  }
}

.headerContent {
  padding: 0 4vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  * {
    margin: 0;
  }

  .hasFeatureImage &,
  .fancyHeader & {
    background-color: #0002;
    bottom: 0;
    color: white;
    padding-top: calc(4vh + 2rem);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
  }
}

.featureImage {
  width: 100vw;

  img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: 12rem;
    filter: contrast(80%) saturate(120%);
  }
}

.title {
  @include font-style-title();
}

.date {
  @include font-style-micro();
  margin-top: 2vw;
}