@import "../sass_includes/typography";
@import "../sass_includes/theming";

:root {
  --fancy-header-height: 12rem;
}

.header {
  // TODO: Extract this into a class
  :global(.ph4) & {
    margin-left: calc(-1 * var(--spacing-large));
    margin-right: calc(-1 * var(--spacing-large));
  }
}

.headerContent {

  * {
    margin: 0;
  }

  .hasFeatureImage &,
  .fancyHeader & {
    padding-top: calc(4vh + 2rem);
    z-index: 20;
  }
}

.featureImage {
  width: 100vw;

  img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: var(--fancy-header-height);
    filter: contrast(80%) saturate(120%);
  }

  @include dark-theme {
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      content: ' ';
      display: block;
      background-color: var(--color-accent);
      z-index: 5;
      opacity: 0.5;
      mix-blend-mode: multiply;
    }
    img {
      filter: grayscale(100%) brightness(50%) contrast(70%);
    }
  }
}

.title {
  @include font-style-title();
}

.date {
  @include font-style-micro();
  margin-top: 2vw;
}