@import 'typography';

.main {
  padding-left: 4vw;
  padding-right: 4vw;
}

.wrapper {
  padding: 0 7vw;

  @media screen and (max-width: 805px) {
    padding: 0 3vw;
  }
}

.pageContent {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  max-width: 58ch;
  margin: 0 auto;
  align-items: center;
  
  .footnotes, blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    min-width: 100%;
  }

  & > * {
    margin-top: 0;
    margin-bottom: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    margin: 1.5em 0 3em;
    display: block;
  }

  figcaption {
    @include font-family(micro-sans);
    @include font-size(200);
    margin: 1em auto 0;
    padding: 0 1.5rem;
    text-align: center;
    max-width: 60ch;
  }

  hr {
    @include font-size(300);
    border: 0;
    color: var(--color-accent);
    margin: 1.5em 0 3em;

    &:before {
      content: '•••';
      display: block;
      letter-spacing: 1em;
    }
  }

  figure + hr, hr + figure {
    margin-top: 0;
  }

  blockquote {
    @include font-style-quotation();
    border-left: 3px solid var(--color-accent);
    padding: 0 1.25em;
  }

  h1, h2, h3, h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  h1, h2 {
    @include font-style-heading-1();
  }

  h3 {
    @include font-style-heading-2();

    strong {
      font-weight: inherit;
    }
  }

  h4 {
    @include font-style-micro();
  }

  
  :global {
    .video-container {
      width:100%;position:relative;padding:0;
      padding-top: 56.25%;
      background-color: aquamarine;

      iframe, object, embed {
        position:absolute;top:0;left:0;width:100%;height:100%;
      }      
    }

    .lede {
      @include font-style-lede();
    }
    iframe {
      margin: 0 auto !important;
    }
    img, video {
      display: block;
      margin: 1.56rem auto;
      max-width: 1040px;
      height: auto;

      @media (max-width: 960px) {
        width: 100%;
      }
    }

    figure img {
      margin: 0;
    }

    .kg-image {
      max-width: 100%;
    }

    .kg-width-wide .kg-image {
      max-width: 1040px;
    }
  
    .kg-width-wide img {
      max-width: 1040px;
    }
  
    .kg-width-full img {
      max-width: 100vw;
    }

    .kg-embed-card {
      width: 100%;

      & > * {
        margin: 0 auto;
      }
    }

    .kg-gallery-container {
      display: flex;
      flex-direction: column;
      max-width: 1040px;
      width: 100vw;
    }
  
    .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &:not(:first-of-type) {
        margin: 0.7em 0 0;
      }
    }
    .kg-gallery-image {
      &:not(:first-of-type) {
        margin: 0 0 0 0.75em;
      } 

      img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}