.themeMenuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkblue;
}

.button, .openButton, .closeButton {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: 1.25rem;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--dark-gray);
  
  .menuOpen & {
    background-color: #f0f;
  }
}

.themeMenu {
  position: absolute;
  white-space: nowrap;
  background-color: var(--color-background);
  top: 2.5rem;
  right: -1em;
  color: var(--color-text);
  letter-spacing: 0;
  text-transform: none;
  border-radius: 8px;

  label {
    display: block;
    padding: 0.5em 1em;
  }
}