<header class="site-header grid grid-cols-6 px-4 xs:px-6 items-center h-20">
  <a href="/" class="justify-self-start whitespace-nowrap">
    <i class="fas fa-home"></i>
    <span class="ml-1 font-medium">Home</span>
  </a>
  <a href="/" class="text-inkBold col-start-3 col-span-2 justify-self-center font-sans-display font-medium uppercase tracking-widest flex items-center">
    <span class="text-4xl relative z-50">
      <i class="fak fa-dd-logo-square"></i>
    </span>
    <span class="sr-only ml-3">David Demaree</span>
  </a>
  {{ partial "menu.html" . }}
</header>