<header class="site-header grid grid-cols-6 px-4 xs:px-6 items-center h-20">
  <a href="/" class="justify-self-start whitespace-nowrap">
    <i class="fas fa-home"></i>
    <span class="ml-1 font-medium">Home</span>
  </a>
  <a href="/" class="col-start-3 col-span-2 justify-self-center font-sans-display font-medium uppercase tracking-widest flex items-center">
    <span class="text-xl border border-current rounded-md p-1">{{ partial "icons/dd-icon" }}</span>
    <span class="ml-3 hidden sm:block">{{ .Site.Title }}</span>
  </a>
</header>