{{ define "main" }}
<main class="grid grid-cols-1 sm:grid-cols-2 gap-8">
  <div class="sm:col-span-2 px-6 py-6 sm:py-10 max-w-7xl">
    {{ .Content }}
  </div>
  
  <hr class="sm:col-span-2 sm:mb-10 border-ink-bold border-0 border-t-2 mx-6" />

  <div class="contents">

    <div class="space-y-8 w-full-inset mx-auto max-w-2xl">
      <h2 class="text-accent dd-heading-alt-2">Latest article</h2>

      {{- range first 3 (where site.RegularPages "Type" "articles") -}}
        {{ .Render "li" }}
      {{- end -}}

      <div>Read more in the archives</div>
    </div>

    <div class="space-y-8 w-full-inset mx-auto max-w-2xl">
      <div>
        <h2 class="text-accent dd-heading-alt-2 mb-4">Plague Letters</h2>
        <p class="text-ink-medium">Starting in May 2020, I occasionally send a newsletter about life during the <abbr>COVID–19</abbr> pandemic, with side trips into video games, U.S. politics, and several cocktail recipes.</p>
      </div>
        
      {{- $__substacks := getJSON "https://demaree.substack.com/api/v1/posts?limit=3&offset=0" -}}
      {{- range $__substacks -}}
      <article class="flex gap-3 items-start">
        <a href="{{ .canonical_url }}">
          <h3 class="dd-heading-2">{{ .title }}</h3>
          <p>{{ .subtitle }}</p>
          <p class="text-sm text-ink-medium">{{ (.post_date | time).Format "Jan 2 2006" }}</p>
        </a>
        
        <a href="{{ .canonical_url }}">
          <img src="{{ .cover_image }}" />
        </a>
      </article>
      {{- end -}}
    </div>

  </div>

  <hr class="sm:col-span-2 sm:mb-10 border-ink-bold border-0 border-t-2 mx-6" />

</main>
{{ end }}