@import '../fonts/soehne/core-fonts';
@import '../fonts/ivar-text';
@import '../fonts/name-sans';
/* @import '../fonts/freight-display'; */
/* @import './text-content.css'; */

@tailwind base;

:root {
  --sans-fonts: theme('fontFamily.sans');
  --serif-fonts: theme('fontFamily.serif');
  --color-background: #fff;
  --color-ink: rgba(0,0,0,0.88);
  --color-ink-medium: rgba(0,0,0,0.64);
  --color-ink-low: rgba(0,0,0,0.32);
  --color-ink-bold: rgba(0,0,0,1.0);
  --width-content: theme('width.content');
  --width-wide: theme('width.wide');
  --spacing-line: theme('spacing.line');

  /* color: theme('colors.ink.default'); */
  /* font-size: 20px; */
  /* font-family: theme('fontFamily.serif'); */
}

*, ::before, ::after {
  box-sizing: inherit;
  word-break: break-word;
  word-wrap: break-word;
}

body {
  background-color: var(--color-background);
}

a {
  @apply text-ink-bold dd-link-underline;
}

p, blockquote, figure, hr {
  @apply mb-5;

  &:last-child {
    @apply mb-0;
  }
}

blockquote {
  @apply px-4 border-0 border-l-2 border-ink-low text-ink-medium;
}

h1, h2, h3, h4 {
  @apply leading-snug font-semibold font-soehne mb-1 mt-8;

  &:first-child {
    @apply mt-0;
  }
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

hr {
  @apply h-auto my-6 border-0 block text-center;

  &:before {
    content: "•••";
    letter-spacing: 1rem;
  }
}

@tailwind components;
@tailwind utilities;

.text-inherit {
  color: inherit;
}

.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}

.dd-wrap {
  @apply .max-w-2xl .mx-auto .px-4;

  @screen sm {
    @apply .px-6;
  }
}

.dd-icon {
  @apply inline-block;
  height: 1em;

  svg {
    @apply m-0 block h-full;
  }
}

/* .debug-measure {
  background-color: rgba(255,0,255,0.1);
}

.debug-measure:before {
  color: white;
  background-color: red;
  max-width: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  content: 'abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklm';
} */

.dark-overlay {
  &:before {
    background: #0002;
    background: radial-gradient(#0003, #0006);
    bottom: 0;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    mix-blend-mode: multiply;
  }
}

.home-header {
  text-shadow: 2px 2px 8px #0009;
}

.dd-link-underline {
  text-decoration-color: var(--color-ink-low);
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-offset: from-font;
}