---
layout: default
pagination:
  data: wordpressPosts
  size: 1
  alias: post
permalink: "posts/{{ post.slug }}/index.html"
tags: post
title: {{ post.title }}
---
<article class="post">
{{ post.html | safe }}
</article>