@font-face {
  src: url('./RoslindaleVariableDisplay-VF.woff2') format("woff2");
  font-family: 'RoslindaleDisplay';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  src: url('./RoslindaleVariable-VF.woff2') format("woff2"),
       url('./RoslindaleVariable-VF.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: 200 900;
}

@font-face {
  src: url('./RoslindaleVariable-VF[Display].woff2') format("woff2"),
       url('./RoslindaleVariable-VF[Display].woff') format("woff");
  font-family: 'Roslindale Variable 2';
  font-style: normal;
  font-weight: 200 900;
}