{{ define "main" }}
<main class="w-full">
  <div class="homepage-bg flex justify-center items-center bg-blue-200 dark:bg-blue-900 min-h-[80vh] sm:min-h-[70vh] md:min-h-[60vh]">
    <div class="homepage-header m-8 w-full min-w-0 max-w-3xl">
      {{.Content}}
    </div>
  </div>




  <div class="latest-posts">
    <h2 class="font-bold text-accent text-2xl">Latest from my blog</h2>
    {{- range first 5 (where site.RegularPages "Type" "blog") -}}
    {{- $images := .Page.Resources.ByType "image" -}}
    {{- $featuredImg := $images.GetMatch "{*cover*,*feature*}" -}}
    {{- $featuredImgUrl := (index .Params "featured_image") -}}
    <article class="flex items-center">
      <div class="flex-1">
        <a href="{{ .URL }}" class="block">
          <h2 class="deorphan text-ink-bold font-semibold text-lg sm:text-xl leading-tight sm:leading-tight">{{ .Title }}</h2>
          {{ with .Description }}<div class="text-sm mt-2">{{ . }}</div>{{ end }}
          <div class="text-ink-medium uppercase font-mono text-sm mt-2">{{ .Date.Format "Jan 2, 2006" }}</div>
        </a>
      </div> 
      {{- if (or $featuredImg $featuredImgUrl) -}}
      <a href="{{ .URL }}" class="w-24 sm:w-36 md:w-48 h-24 ml-6 overflow-hidden rounded-md">
        {{ if $featuredImg }}
        {{ $thumb := $featuredImg.Fill "320x320" }}
        {{ $thumbURL := $thumb.RelPermalink }}
        <img loading="lazy" src="{{ $thumbURL }}" width="160" height="160" alt="Featured image for post" class="object-cover object-center h-full w-full" />
        {{ else if $featuredImgUrl }}
        {{ $featuredImgUrl := (partial "remote-img.html" (dict "URL" $featuredImgUrl "maxWidth" 320)) }}
        <img loading="lazy" src="{{ $featuredImgUrl }}" width="160" height="160" alt="Featured image for post" class="object-cover object-center h-full w-full" />
        {{ end }}
      </a>
      {{- end -}}
    </article>
    {{ end }}

    <p><a href="/blog">Read more in the archives <i class="fas fa-arrow-right"></i></a></p>
  </div>

</main>
{{ end }}