
@font-face {
  src: url('./soehne-web-buch-kursiv.woff2') format("woff2"),
       url('./soehne-web-buch-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-buch.woff2') format("woff2"),
     url('./soehne-web-buch.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-halbfett-kursiv.woff2') format("woff2"),
     url('./soehne-web-halbfett-kursiv.woff') format("woff");
  font-family: 'soehne-web';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  src: url('./soehne-web-halbfett.woff2') format("woff2"),
     url('./soehne-web-halbfett.woff') format("woff");
  font-family: 'soehne-web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}