@import './fonts/soehne';
@import './fonts/ivar-text';
@import './fonts/freight-display';

@tailwind base;
@tailwind utilities;

:root {
  /* @media screen and (prefers-color-scheme: dark) {
    --color-background: theme('colors.gray.800');
  } */
}

body {
  background-color: theme('colors.background.default');
  color: theme('colors.ink.default');

  &.dark-mode {
    --color-background: theme('colors.gray.900');
    --color-ink: theme('colors.gray.100');
    --color-ink-medium: theme('colors.gray.500');
    --color-container: theme('colors.black');
  }
}

.dd-grid-rows {
  @apply .row-gap-8;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.dd-grid-columns,
.dd-grid-container {
  @apply .gap-6;
  display: grid;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(8, minmax(auto, 5rem)) [content-end] minmax(0, 1fr) [full-end];
  grid-auto-rows: auto;
}

.dd-col-content {
  grid-column: content;
}

.container { 
  display: grid;
  grid-gap: theme('spacing.8');
  grid-template-columns: [full-start] 1fr [content-start] minmax(240px, 1080px) [content-end] 1fr [full-end];
}

.global-nav {
  background-color: theme('colors.container.default');
}

.global-footer {
  @apply px-8 py-4;
}