{{ $input := . }}

{{ $page := index $input 0 }}
{{ $src := index $input 1 }}
{{ $targetWidth := index $input 2 | default 600 }}

{{ $url := urls.Parse $src }}
{{ $source := "" }}

{{ $cyMethod := "/image/upload" }}
{{ $cyBase := "//res.cloudinary.com/demaree" }}
{{ $permalink := "" }}


{{ if $url.Scheme }}
  {{ $cyMethod = "/image/fetch" }}
  {{ $source = "cloudinary-fetch" }}
{{ else if $page.Resources.GetMatch $src }}
  {{ $source = "local"}}
{{ else }}
  {{ $source = "cloudinary-upload"}}
{{ end }}

{{ return (dict "url" $url "scheme" $url.Scheme "source" $source) }}