@use '../theme/type';
@use '../theme/color';

:is(.editor-styles-wrapper, body) {
  .is-style-big-intro {
    font-size: clamp(1.75rem, 5.5vw, 2.5rem) !important;
    line-height: 1.15 !important;
    font-weight: 500;
  
    b, strong {
      color: black;
      font-weight: 600;
    }
  }
  
  .has-large-font-size {
    @include type.size(2xl);
  }
  
  .has-x-large-font-size {
    @include type.size(3xl);
  }
}

