---
layout: default
title: Home Page
---
<main aria-role="main" class="grid dd-grid-cols-2 gap-y-10 grid-flow-row" style="--layout-wide-width: 1100px">
  <header class="homepage-header leading-tight contents">
    <figure class="overflow-hidden col-span-full bg-red-200 justify-self-center w-48 rounded-full sm:justify-self-stretch sm:rounded-none sm:w-auto sm:col-span-4">
      <picture class="contents">
        <source media="(min-width: 640px)" srcset="//res.cloudinary.com/demaree/image/twitter_name/w_600,ar_1,c_fill/ddemaree.jpg 600w, //res.cloudinary.com/demaree/image/twitter_name/w_1200,ar_1,c_fill/ddemaree.jpg 1200w" />
        <img src="//res.cloudinary.com/demaree/image/twitter_name/w_600,c_fill/ddemaree.jpg" class="object-fill object-center w-full h-full" width="600" height="600" />
      </picture>
    </figure>
    <div class="text-center sm:text-left font-roslindale-2 text-2xl p-8 col-span-full xs:text-3xl sm:py-12 self-center justify-self-center max-w-md md:max-w-lg sm:col-start-5 sm:col-span-7 sm:row-start-1 md:text-4xl" style="font-variation-settings: 'wdth' 96; font-feature-settings: 'ss05' on;">
      
      <p><b>Hi, I'm David Demaree</b>, a writer, web designer, photographer, & tech product manager</p>
      
    </div>
  </header>

  <h2 class="text-center uppercase tracking-widest font-sans-display font-bold text-accent text-lg dd-col-wide">Latest writing</h2>

  {% for post in collections.homePagePosts %}
  <article class="flex items-start col-start-2 col-span-8 md:col-start-auto md:odd:col-start-2 md:col-span-4 md:px-8">
    <div class="flex-1 lg:col-start-2 lg:col-span-6">
      <a href="{{ post.url }}" class="block">
        <h2 class="text-inkBold font-semibold text-lg sm:text-xl leading-tight">{{ post.title }}</h2>
        {% if post.description %}
        <div class="text-sm mt-2">{{ post.description }}</div>
        {% endif %}
        <div class="text-inkMedium text-sm mt-2">
          {{ post.date | formatDate }}
        </div>
        
      </a>
    </div>
  </article>
  {% endfor %}
</main>