---
---
{% extends "default.njk" %}

{% block title %}Welcome to David Demaree's web site{% endblock %}

{% block content %}
<main class="overflow-hidden flex-1">
  <div class="bg-container pb-4 pt-6">
    <div class="dd-wrap">
      {% include 'hero.njk' %}
    </div>
  </div>

</main>
{% endblock %}