.site-header {
  // Grid
  display: grid;
  // grid-template-columns: [header-start] 1fr [main-start] repeat(6, [header-col] minmax(2rem, 5rem)) [main-end] 1fr [header-end];
  grid-template-columns: [header-start] 0.75rem [main-start] repeat(2, [header-col] 1fr) [main-end] 0.75rem [header-end];
  grid-auto-rows: minmax(48px, auto);
  border-bottom: 1px solid currentColor;
  
  .header-logo, .site-nav {
    grid-column: header-start / header-end;
  }
  
  .header-logo {
    grid-row: 1 / 2;
  }

  .site-nav {
    grid-row: 2 / 3;
  }
  
  @media (min-width: 540px) {
    .header-logo {
      grid-column: main-start / header-col;
      grid-row: 1 / 2;
      justify-self: start;
      align-self: center;
    }
    .site-nav {
      grid-column: header-col 2 / main-end;
      grid-row: 1 / 2;
      justify-self: end;
      min-width: 300px;
    }
  }
  
  // Visual styles
  font-family: 'halyard-micro', 'halyard-text', sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1;
  
  * {
    margin: 0;
    font-size: inherit;
  }
  
  a {
    text-decoration: none;
  }
}

.header-logo {
  justify-self: center;
  align-self: end;

  color: inherit;
  text-decoration: none;
  display: inline-grid;
  grid-template-columns: 48px auto 0.7rem;
  grid-template-rows: minmax(36px, auto);
  align-items: center;
  justify-items: center;

  h1 {
    white-space: nowrap;
    font-size: 0.85rem;
  }

  .dd-icon {
    font-size: 24px;
  }
}

.site-nav {
  display: grid;
  // grid-template-rows: minmax(48px, auto);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-row-gap: 0.5em;
  text-align: center;
  
  &__link {
    // background: salmon;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid transparent;
    
    &.active {
      border-bottom-color: currentColor;
    }
    
    span {
      // background: mediumspringgreen;
      padding: 0.5em 0 calc(0.5em - 2px) 0;
    }
    
    &:hover span {
      border-bottom-color: mediumseagreen;
    }
    
    &.active span {
      border-bottom-color: currentColor;
    }
  }
}