.site-header {
  // Grid
  display: grid;
  grid-template-columns: [header-start] 0.75rem [main-start] repeat(2, [header-col] 1fr) [main-end theme-toggle] 48px [header-end];
  grid-auto-rows: minmax(48px, auto);
  
  .header-logo, .site-nav {
    grid-column: main-start / main-end;
  }
  
  .header-logo {
    grid-row: 1 / 2;
  }

  .site-nav {
    grid-row: 2 / 3;
  }

  .theme-toggle {
    grid-column: theme-toggle;
    color: inherit;
    background: transparent;
    border: 0;
    outline: none;
  }
  
  @media (min-width: 540px) {
    .header-logo {
      grid-column: main-start / header-col;
      grid-row: 1 / 2;
      justify-self: start;
      align-self: center;
    }
    .site-nav {
      grid-column: header-col 2 / main-end;
      grid-row: 1 / 2;
      justify-self: end;
    }
  }
  
  // Visual styles
  
  * {
    margin: 0;
    font-size: inherit;
  }
  
  a {
    text-decoration: none;
    transition: all 0.4s ease;
  }
}

.header-logo {
  justify-self: center;
  align-self: end;
  font-family: 'Sentinel A', 'Sentinel B', 'Comic Sans MS';
  font-weight: 700;

  color: inherit;
  text-decoration: none;
  display: inline-grid;
  grid-template-columns: 48px auto 0.7rem;
  grid-template-rows: minmax(36px, auto);
  align-items: center;
  justify-items: center;

  h1 {
    white-space: nowrap;
    font-size: 0.85rem;
  }

  .dd-icon {
    font-size: 24px;
  }
}

.site-nav {
  font-family: 'halyard-micro', 'halyard-text', sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 0.25em;
  text-align: center;
  min-width: 300px;
  
  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 48px;
    position: relative;
    
    &.active {
      border-bottom-color: currentColor;
    }
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: transparent;
      transition: all 0.5s ease;
      transform: scaleX(0);
    }
    
    &.active, &:hover {
      &:after {
        transform: scaleX(1);
        background-color: currentColor;
      }
    }
  }
}