{{- $publicID := .Get "src" -}}
{{- $cloudinaryData := getJSON (printf "https://sun-regular-manuscript.glitch.me/images/cloudinary/%s" $publicID ) -}}

{{- with .Parent -}}
  {{- if eq .Name "gallery" -}}
  <li class="dd-gallery-item gallery-item" style="--flex-aspect: {{ $cloudinaryData.aspectRatio }}; flex: var(--flex-aspect);">
    <figure class="overflow-hidden lazy-img-container">
      {{ $cloudinaryData.html | safeHTML }}
    </figure>
  </li>
  {{- end -}}
{{- else -}}
<figure class="dd-block-img dd-block-cloudinary{{ with .Get "class" }} {{ . }}{{ end }}">
  {{ $cloudinaryData.html | safeHTML }}
  {{ with $caption := (or .Inner (.Get "caption"))}}
  <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
{{- end -}}