{{- $publicID := .Get "src" -}}
{{- $width := (.Get "width" | default 900) -}}
{{- $cloudinaryData := getJSON (printf "https://sun-regular-manuscript.glitch.me/images/cloudinary/%s?width=%d" $publicID $width ) -}}

{{- with .Parent -}}
  {{- if eq .Name "gallery" -}}
  <li class="dd-gallery-item gallery-item" style="--flex-aspect: {{ $cloudinaryData.aspectRatio }}; flex: var(--flex-aspect);">
    <figure class="overflow-hidden lazy-img-container">
      {{ $cloudinaryData.html | safeHTML }}
    </figure>
  </li>
  {{- end -}}
{{- else -}}
<figure class="dd-block-img dd-block-cloudinary{{ with .Get "class" }} {{ . }}{{ end }}">
  <!-- {{ $cloudinaryData.html | safeHTML }} -->

  <img
    class="la-z_vue-img"
    src="{{ $cloudinaryData.base64 | safeURL }}"
    data-src="{{ $cloudinaryData.src }}"
    data-srcset="{{ $cloudinaryData.srcSet }}"
    width="{{ $cloudinaryData.displayWidth }}"
    height="{{ $cloudinaryData.displayHeight }}"
    alt="{{ $cloudinaryData.alt_description | default `Image for post` }}"
    />
  {{ with $caption := (or .Inner (.Get "caption"))}}
  <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
{{- end -}}