{{- $publicID := .Get "src" -}}
{{- $width := (.Get "width" | default 900) -}}
{{- $unsplashData := getJSON (printf "https://sun-regular-manuscript.glitch.me/images/unsplash/%s?width=%d" $publicID $width ) -}}
{{- if .Inner -}}
{{- .Scratch.Set "caption" .Inner -}}
{{- else -}}
{{- .Scratch.Set "caption" $unsplashData.caption -}}
{{- end -}}
{{- with .Parent -}}
  {{- if eq .Name "gallery" -}}
  <li class="dd-gallery-item gallery-item" style="--flex-aspect: {{ $unsplashData.aspectRatio }}; flex: var(--flex-aspect);">
    <figure class="overflow-hidden lazy-img-container">
      {{ $unsplashData.html | safeHTML }}
    </figure>
  </li>
  {{- end -}}
{{- else -}}
<figure class="dd-block-media dd-block-img dd-block-unsplash{{ with .Get "class" }} {{ . }}{{ end }}">
  <img
    class="la-z_vue-img"
    src="{{ $unsplashData.base64 | safeURL }}"
    data-src="{{ $unsplashData.src }}"
    data-srcset="{{ $unsplashData.srcSet }}"
    width="{{ $unsplashData.displayWidth }}"
    height="{{ $unsplashData.displayHeight }}"
    alt="{{ $unsplashData.alt_description | default `Image for post` }}"
    />
  {{ partial "figcaption.html" . }}
</figure>
{{ $unsplashData.noScriptImageTag | safeHTML }}
{{- end -}}