<header id="site-header" class="site-header">
  <div class="header-logo">
    <a href="/">David Demaree</a>
  </div>
  <nav class="header-nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Writing</a></li>
    </ul>
  </nav>
</header>